<!DOCTYPE html>
<html lang="en" class="gr__localhost">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body data-gr-c-s-loaded="true">
    <header> 
    <h1>Ticket System1/Bug Tracker</h1>
    </header>

    <div id="content">
        <h1>Index</h1>
        <p class="Important">
            Welcome to my awesome webpage.
        </p>
    </div>
    <div id="footer">
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
    </div>
</body>
</html>
